.row {
    width: 100%;
    height: 2.5rem;
    padding: 0px 30px;
    border-radius: 50px;
    line-height: 2.4rem;
    margin: 10px 0;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.25);
    display: flex;
}