.tooltip .tooltipText,
.bottomTooltip .tooltipText,
.noTooltip .tooltipText {
    position: absolute;
    z-index: 1;

    visibility: hidden;
    width: fit-content;
    margin-left: 15px;
    margin-top: -5px;
    padding: 10px 14px;
    border-radius: 10px;

    text-align: center;
    font-size: 15px;
    background-color: black;
    color: #fff;
}

.tooltip:hover .tooltipText,
.bottomTooltip:hover .tooltipText {
    visibility: visible;
}

.bottomTooltip .tooltipText {
    margin-left: -65px;
    margin-top: 50px;
    padding: 3px 10px;
}