.row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.scrollableListContainer {
    max-height: 70px; 
    overflow-y: auto;
    padding: 3px; 
  }
  
  .scrollableList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .scrollableList li {
    margin-bottom: 5px; 
    padding: 5px; 
    font-size: smaller;
    border-radius: 10px;
    display: flex;
    background-color: var(--primary-color-background-transparent);
  }