.button {
    display: inline-block;
    height: 40px;
    width: 120px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color-transparent);
}