.input {
    width: 100%;
    margin: 12px 0px;
}

.button {
    margin-top: 20px;
    position: relative;
}

.forgotPassword {
    font-size: 17px;
    margin-bottom: 10px;
    color: var(--primary-color);
    cursor: pointer;
}

.center{
    margin-left: 25%;
}