.input {
    height: 40px;
    width: 100%;
    padding: 3px 10px;
    border: 1px solid var(--primary-color-transparent);
    border-radius: 10px;
}

.form {
    width: 70%;
    margin: auto;
}

.marginBottom {
    margin-bottom: 0;
}