.card {
    height: 40%;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.grid {
    margin: 5% 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5%;
}