.titleBox {
    margin: 3% 6%;
    margin-bottom: 3%;
    
}

.title {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
}

.description {
    color: var(--primary-color);
    font-size: 1em;
}